# database
alembic
psycopg2-binary
SQLAlchemy
sqlalchemy-utils
passlib

# API
Werkzeug <= 2.1.2  # https://github.com/python-restx/flask-restx/issues/460
flask-restx
pyjwt
gunicorn[gevent]

# linting & typing
ruff
mypy
sqlalchemy-stubs
types-flask
types-jsonschema
types-python-dateutil
types-requests

# misc
pip-tools  # generate requirements.txt from requirements.in
coverage  # for measuring test coverage
requests  # for API testing
